@import "../../node_modules/reset-css/reset.scss";
@import "../../node_modules/swiper/dist/css/swiper.min.css";
@import "_partials/fonts";

a{
  &:hover{
  color: #fff;
  text-decoration: none;
  }
}

.submit-button
{font-family: OpenSans,sans-serif;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  font-size: 14px;
  border: none;
  height: 29px;
  min-width: 222px;
  cursor: pointer;}
.form-group input[type='checkbox'] {
  height: 17px;
  padding-left: 15px;}
.btn-style.close_modal{
  outline: 0;
  position: relative;
  top: 10px;
  color: #fff;
  font-size: 14px;
  min-width: 222px;
  border: none;
  height: 29px;
  cursor: pointer;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  z-index: 10;
  background: #C49A6D;
}


*{
  box-sizing: border-box;
}
button, input, select{
  outline: none;
}
html{
  height:100%;
}
body{
  font-family: "OpenSans", sans-serif;
  line-height:1.2;
  color: #333;

  min-height: 100%;

}
a{
  text-decoration: none;
}
.form_item{
  .user-name{width:100%}
}
.form_item{
  label{
    display: block;
    font-weight:500;
    margin: 10px 0;
  }
  input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    outline: none;
    border:1px solid #E5E5E5;
    height:41px;
    padding-left:18px;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;

    }

  }
  .form-control{
    width:100%;
  }
  select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border:1px solid #E5E5E5;
    height:42px;
    padding-left:18px;
    outline: none;
  }
  select:required:invalid {
    color: gray;
  }

  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
}
.content-block-wrap{
  position: relative;
  background: url(../img/background.jpg) no-repeat center;
  background-size:cover;
  min-height: 100vh;
  padding-bottom: 28px;
}
.content-container{
  width:1170px;
  margin:0 auto;
  position: relative;
  z-index:5;
  min-height: calc(100vh - 28px);
  padding-bottom: 20px;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left:50px;
    right:50px;
    bottom:0;
    background: rgba(26,26,26,.8);
    z-index:-1;
  }
  header{
    text-align: center;
    padding:45px 0;
    .logo{
      width:300px;
      display: block;
      margin:0 auto 20px;
      img{
        width:auto;
        max-height: 180px;
        max-width: 100%;
      }
    }
    p.title{
      color: #fff;
      font-size:15px;
      width:74%;
      margin:0 auto;
    }
  }
}
.content-block{
  display: flex;
  justify-content: center;
  position: relative;
}
.language_select{
  position: absolute;
  top:10px;
  right:15px;
  z-index:10;
  .dd-options {
    padding-top: 20px;
    top: 17px;
    z-index: 5;
    background: #fff;
  }
  .dd-select{
    border-radius: 30px;
    height: 35px;
    z-index: 10;
  }
  .dd-selected{
    padding:0 5px;
  }
  .dd-pointer-down {
    border: solid 5px transparent;
    border-top: solid 5px #333;
  }
  .dd-selected-text{
    color: #333;
    font-size: 13px;
  }
  .dd-option-image, .dd-selected-image{
    margin-top: 4px;
    margin-right:-5px;
  }
  .dd-pointer-up {
    border-bottom: solid 5px #fff !important;
  }
  .dd-option-text{
    line-height: 20px;
    font-size: 13px;
  }
  .dd-option{
    max-height:35px;
    padding:0 5px 5px;
    color: #333;
    &:hover{
      background: #000;
    }
  }
  .dd-option-selected{
    background: #000;
    font-weight:700;
    color: #fff;
  }
}

.btn-style{
  color: #fff;
  font-size:14px;
  min-width: 222px;
  border:none;
  height:29px;
  cursor: pointer;
  background:#C2986D;
}
.content-block-column{
  margin: 20px 12px 0;
  flex-shrink: 0;

}
.column-slider-big{
  max-width:360px;
}
.column-registration{
  max-width: 370px;
  margin-top:0px;
}
.column-slider-small{
  width:360px;
}
.registration-block{
  background: #fff;
  padding:20px 30px;
  text-align: center;
  position: relative;
  p.info{
    font-size:16px;
    color: #808080;
    font-family:'Roboto';
    padding:0 20px;
    a{
      color: #333;
      font-weight:bold;
    }
  }
  .label-or{
    position: relative;
    z-index:5;
    font-size:12px;
    color: #808080;
    margin: 10px 0;
    text-align: center;
    span{
      padding:0 12px;
      background: #fff;
    }
    &:before{
      content: '';
      display: block;
      width:100%;
      height:1px;
      background: #E3E3E3;
      position: absolute;
      top:49%;
      left:0;
      z-index:-1;
    }
  }
  p.title{
    font-size:22px;
    font-family: 'BodoniBold';
    text-align: left;
    color: #A27C52;
    padding:0 20px;
  }
  form{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
    button{
      display: block;
      margin:10px 0;
      width:100%;
      background: #323232;
    }
    p.title{
      padding:0;
    }
  }
  .condition_link{
    font-size:12px;
    color: #808080;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 15px 0;
  }
}
.social-login{
  padding:10px 0;
  display: flex;
  justify-content: space-between;
  .btn-style{
    width:100%;
    max-width: 95px;
    height:50px;
    display: block;
    margin: 0 auto;
    font-family: "OpenSans", sans-serif;
    font-weight:400;
    position: relative;
    min-width: 1px;
    padding-top:20px;
    box-shadow: 1px 4px 9px 0 rgba(0,0,0,.15);
    line-height: 25px;
    i{
      position: absolute;
      left: 40px;
      top: 9px;
    }
  }
  .btn-facebook{
    background: #39579B;
  }
  .btn-twitter{
    background: #51AAF2;
  }
  .btn-gplus{
    background: #DF4A33;
  }
}
.form-group{
  label{
    display: block;
    font-weight:500;
    margin: 5px 0;
    font-size:14px;
  }
  input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    outline: none;
    border:1px solid #E4E4E4;
    height:41px;
    padding-left:18px;
    border-radius: 0;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  .form-control{
    width:100%;
  }
  select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border:1px solid #E5E5E5;
    height:42px;
    padding-left:18px;
    outline: none;
    border-radius: 0;
  }
  select{
    background: url("../img/arrow.jpg") 90% center no-repeat;
    background-position-x:calc(100% - 13px);
  }
  select::-ms-expand {
    display: none;
  }

  input[name=phone]{
    width:144px;
    display: inline-block;
  }

  input[name=gender]{
    width:222px;
  }
  select:required:invalid {
    color: gray;
  }
  option[disabled] {
    display: none;
  }
  option {
    color: black;
  }
}

.social-btn-block{
  padding: 10px 60px;
  p{
    font-family:'Roboto',sans-serif;
    font-weight:500;
    text-align: center;
    position: relative;
    margin-bottom:5px;
    color: #fff;
  }
  .social-btn{
    text-align: center;
    a{
      color: #fff;
      font-size:20px;
      display: inline-block;
      margin: 0 12px;
    }
  }
  button{
    margin:10px auto 0;
    display: block;
    color: transparent;
    &.trip_advisor{
      background: url(../img/tripadvisor_logo.jpg)no-repeat center -2px #599442;
      background-size:contain;
    }
    &.zomato{
      background: url(../img/zomato_logo.jpg)no-repeat center #CB202D;
      background-size:contain;
    }
  }
}
.slider-block .swiper-slide{
  img{
    min-width: 100%;
    min-height: 100%;
  }
}
.slider-pagination{
  position: absolute;
  text-align: center;
  z-index:10;
}
.swiper-pagination-bullet{
  background: #fff;
  opacity:.4;
  width:11px;
  height:11px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 2px;
}

.swiper-pagination-bullet-active{
  opacity:1;
}
.swiper-button-next{
  background-image: url(http://static.iperawifi.com/themes/template1/img/next.png);
  width: 44px;
  background-size: contain;
  z-index: 1;
}
.swiper-button-prev{
  background-image: url(http://static.iperawifi.com/themes/template1/img/back.png);
  width: 44px;
  background-size: contain;
  z-index: 1;
}
.content-item_block{
  display: flex;
  position: relative;
  overflow: hidden;
  height:635px;
  .slider-arrow{
    left:50%;
    transform: translateX(-50%) rotate(90deg);
  }
  .swiper-button-prev{
    top:35px;
  }
  .swiper-button-next{
    bottom:20px;
    top: auto;
  }
  .content-item{
    background: #000;
    width:100%;
    max-height: 233px;
    position: relative;
  }

  .img-wrap{
    height:100%;
    overflow: hidden;
    img{
      min-width: 100%;
      min-height: 100%;
      opacity: .6;
    }
  }
}
.content-item-info{
  padding:12px 10px;
  position: absolute;
  top: 0;
  right:0;
  left:0;
  bottom: 0;
  p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family: 'BodoniBold';
    font-size: 48px;
    text-align: center;
  }
}
.application_block{
  padding: 40px 60px;
  min-height: 105px;
  p{
    font-family:'Roboto',sans-serif;
    font-weight:500;
    color: #fff;
    text-align: center;
  }
  .btn-style{
    font-family:'OpenSans',sans-serif;
    font-weight:normal;
    line-height: 29px;
    text-align: center;
    display: block;
    width:100%;
    margin:10px auto;
    background: #C2986D;
    max-width: 240px;
    i{
      margin-right:5px;
    }
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  &.conditions{
    .modal-content{
      width:95%;
      max-width: 740px;
    }
    .modal-body{
      padding: 35px 45px;
      text-align: center;
      strong{
        font-family: 'BodoniBold';
        font-size:30px;
        margin-bottom:20px;
        display: block;
        color: #A27C52;
      }
      p{
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  &.feedback{
    .modal-content{
      width:95%;
      max-width: 740px;
    }
    .modal-body{
      padding: 35px 50px;
      text-align: center;
    .form_item label {
      color: #A27C52;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      font-family: Roboto, sans-serif;

    }
      button {
        margin: 15px auto 0;
        display: block;
      }
      textarea{
        width:100%;
        height:95px;
        border: 1px solid #E5E5E5;
        padding: 18px;
        outline: 0;
        font-family:Roboto, sans-serif;
        font-size: 12px;
        resize: none;
      }
      input{
        font-family:Roboto, sans-serif;
        font-size: 12px;
      }
      .form_item_wrap{
        display: flex;
        .form_item{
          flex-grow: 1;
          font-size: 12px;
          font-family:Roboto, sans-serif;
          &:first-child{
            margin-right: 20px;
          }
        }
      }
      strong{
        font-family: 'BodoniBold';
        font-size:30px;
        margin-bottom:20px;
        color: #A27C52;
        display: block;
      }
      p{
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  &.succsess_feedback{
    font-family: 'BodoniBold';
    font-size: 30px;
    color: #A27C52;
    .modal-content{
      padding:45px;
      width:100%;
      max-width: 670px;
      text-align: center;
    }

  }
}
.unique-design{
  display: flex;
  flex-wrap: wrap;
  label{
    width:100%;
  }
  input{
    width: 50%;
    flex-grow:1;
  }
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.after-registration{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  background: #fff;
  z-index:10;
  flex-direction: column;
  justify-content: center;
  display: none;
  p.title{
    text-align: center;
    margin-bottom:30px;
  }
  p.info{
    color: #333;
    margin-bottom:20px;
  }
  .btn_feedback{
    max-width: 250px;
    margin: 0 auto 60px;
    text-transform: capitalize;
  }
}
.after-login{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  background: #fff;
  z-index:10;
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  p.title{
    text-align: center;
  }
  .photo-wrap{
    width:130px;
    height:130px;
    border-radius: 50%;
    overflow: hidden;
    margin:30px auto;
  }
  strong{
    font-size:15px;
    color: #000;
    margin-bottom:30px;
  }
  input{
    height:42px;
    border-radius: 0;
  }
  p.info{
    font-size:12px;
    text-align: left;
    padding-left:30px;
    color: #808080;
    margin-top:20px;
    span{
      display: block;
      color: #4D4D4D;
      margin-bottom:5px;
    }
  }
  .btn-style{
    max-width: 250px;
    margin: 50px auto 0;
  }
  .leave_page{
    display: block;
    font-size:11px;
    text-align: center;
    margin-top:20px;
    color: #333;
  }
}
.after-login-wrap{
  max-width: 250px;
  margin: 0 auto;
  strong{
    display: block;
  }
  form{
    padding: 0;
  }
  p.info{
    padding: 0;
  }
  .btn-style{
    width:250px;
  }
}
.follow-us-block{
  button{
    padding-left: 45px;
    text-align: left;
    position: relative;
    margin-bottom:5px;
    i{
      position: absolute;
      top: 7px;
      left: 23px;
    }
    &.facebook{
      background: linear-gradient(to right, rgba(57,88,154,1) 0%, rgba(0,114,185,1) 100%);
    }
    &.twitter{
      background: linear-gradient(to right, rgba(81,169,241,1) 0%, rgba(81,206,241,1) 100%);
    }
    &.instagram{
      background: linear-gradient(to right, rgba(46,49,143,1) 0%, rgba(237,122,64,1) 100%);
    }
    &.pinterest{
      background: #DE4A33;
    }
  }
}
button.close_modal{
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  z-index:10;
}

.slider-block .swiper-slide{
  height: 635px;
  overflow: hidden;
  img{
    position: absolute; left: 50%;
    top:50%; transform: translate(-50%,-50%);
  }
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media screen and (max-width: 1200px){
  .column-slider-big, .column-slider-small{
    width:300px;
  }
  .column-registration{
    width:320px;
  }
  .content-container{
    width: 975px;
  }
  .registration-block{
    padding:20px 5px;

  }
  .application_block{
    padding: 40px 35px;
  }
  .social-btn-block{
    padding: 10px 35px;
  }
}

@media screen and (max-width: 992px){
  .content-container{
    width: 760px;
  }
  .content-block{
    flex-wrap: wrap;
    margin: 0;
  }
  .column-slider-big{
    order: 1;
  }
  .content-block-column{
    margin-top: 0;
  }
  .column-registration {
    width: 360px;
  }
  .column-slider-small {
    width: 350px;
  }
  .column-slider-big{
    margin-top:24px;
    width:100%;
    max-width: 100%;
    padding: 0 12px;
    .swiper-slide{
      height:400px;
    }
  }
}
@media screen and (max-width: 767px){
  .content-container{
    width:100%;
    padding: 0 15px;
    header{
      .logo{
        width:225px;
      }
      p.title{
        font-size:12px;
        width:85%;
      }
    }
  }
  .content-block{
    margin:0;
  }
  .column-registration{
    margin-bottom:24px;
    width:100%;
  }
  .content-item_block .content-item{
    max-width: 360px;
    margin-left:auto;
    margin-right:auto;
  }
  .column-slider-big .swiper-slide{
    width:100%;
    max-width: 100%;
    border-radius: 10px;
  }
  .column-slider-small{
    width:100%;
    max-width: 100%;
  }
  .registration-block {
    padding: 20px 10px;
  }
  .social-login .btn-style{
    max-width: 80px;
    i{
      left:50%;
      transform: translateX(-50%);
    }
  }
  .application_block{
    padding: 40px 0;
  }
  .social-btn-block .social-btn a{
    margin: 0 11px;
  }
  .content-container:after{
    left:25px;
    right:25px;
  }
  .swiper-container{
    overflow: visible;
  }
  .content-container{
    overflow: hidden;
  }
}
.powered-by{
  text-align: center;
  display: block;
  background: #fff;
  color: #333;
  text-decoration: none;
  padding:3px 0;
  font-size:10px;
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  &:hover{
    text-decoration: none;
    color: #000;
  }
  img{
    margin-left:5px;
    height:22px;
    vertical-align: middle;
  }
}
@media screen and (max-width: 550px){
  .modal.feedback .modal-body{
    padding: 25px;
    .form_item_wrap{
      flex-wrap: wrap;
      .form_item:first-child {
        margin-right: 0;
      }
    }
  }
  .registration-block p.title{
    padding: 0 5px;
  }
}
@import "_partials/_color_style.css";